body{
	display: block;
	margin: 0;
}

ul{
	list-style-type: disc;
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

.profil{
	position: fixed;
	height: 300px;
	width: 98vw;
	margin : 1vw;
	border: 2px solid black;
	bottom: 0;
	z-index: 10;
	background-color: lightgray;
}

.pkList{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 1vw;
	row-gap: 1vh;
	margin: 1vw;
}

.pkListItem > img{
	width: 75%;
	height: auto;
	align-content: center;
}

li{
	list-style-type: none;
}

.pkListItem
{
	text-align: center;
	border : 2px solid black;
	max-width: 15vw;
	height: auto;
}

.exchange{
	display: flex; /* afficher les éléments en ligne */
	flex-wrap: wrap; /* permettre aux éléments de passer à la ligne si nécessaire */
	justify-content: space-between; /* aligner les éléments en début et fin de ligne */
	align-items: center; /* centrer verticalement les éléments */
	padding: 10px; /* ajouter un peu d'espace autour de chaque élément */
	border: 1px solid #ccc; /* ajouter une bordure pour séparer chaque élément */
	margin-bottom: 10px; /* ajouter un peu d'espace entre chaque élément */
}

.exchange{
	dsiplay:block;
}

.exchangeForm
{
	display: inline-flex;
}

.left{
	float:left;
	max-width: 50%;
	margin:1vw;
}

nav{
	margin:1vw;
	float:right;
}
