<#ftl encoding="utf-8">

<body xmlns="http://www.w3.org/1999/html">

<ul>
    <#list users as user>
        <li>${(user.login)!} - ${(user.pseudo)!} ${(user.email)!} ${(user.hashpswd)!} ${(user.lastCoDate?string("dd/MM/yyyy"))!}</li>
    </#list>
</ul>

</body>

</html>
