<!DOCTYPE html>
<html lang = "fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css" media="screen">


	<title></title>



</head>

<body>	

	<div class="container">
		<div class = logsign>
			<form action="/signup" method="post" id="signup" class = form>
				<h1>Signup</h1>
				<div class="field">
					<label for="lastname">Pseudo :</label>
					<input type="text" id="pseudo" name="pseudo" placeholder="Enter you pseudo" >
					<small></small>
				</div>

				<div class="field">
					<label for="userpwd">Password :</label>
					<input type="password" id="userpwd" name="userpwd" placeholder="Entrez votre mot de passe ici" >
					<small></small>
				</div>

				<div class="field">
					<label for="usermail">Email:</label>
					<input type="text" id="usermail" name="usermail" placeholder="Enter your email address" >
					<small></small>
				</div>
				<div class="field">
					<button type="submit" class="full">Signin</button>
				</div>
				<div id="zoneSignup">
					<span class="Style1"></span>
				</div>
			</form>


			<form action="/login" method="post" id="login" class = form>
				<h1>Login</h1>

				<div class="field">
					<label for="usermail">Email:</label>
					<input type="text" id="usermail" name="usermail" placeholder="Enter your email address" >
					<small></small>
				</div>

				<div class="field">
					<label for="userpwd">Password :</label>
					<input type="password" id="userpwd" name="userpwd" placeholder="Entrez votre mot de passe ici" >
					<small></small>
				</div>


				<div class="field">
					<button type="submit" class="full">Login</button>
				</div>
				<div id="zone">
					<span class="Style1"></span>
				</div>
			</form>
		</div>		


	</div>

	

</body>
</html>